div {
    background-color : aquamarine;
    color : navy;
    }

p{
    font-family: cursive;
}

blockquote{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1~blockquote{
    color: crimson;
}

tbody{
    background-color: blueviolet;
}

.destination{
    background-color: navy;
    color: white;
    border-color: red;
    border-width: 1cm;
    border-style: dotted;
}

#school{
    background-color: olive;
    color: white;
    border-color: gold;
    border-width: 1cm;
    border-style: dashed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.destination tbody{
    background-color: olive;
}

.destination td{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.destination>h1{
    color: gold;
}
.promoted {
    font-size: x-large;
}

.destination.promoted{
    color: crimson;
}